@import "color.scss";

* {box-sizing: border-box;}

.wrapper{
  display: flex;
  
  .chat-side{
    float: left;
    width: 300px;
    color: $color1;
    font-weight: bold;

    .side-header{
      height: 200px;
      background-image: url("#{asset_path('stage.jpg')}");
      background-size:cover;
      display: flex;
      flex-direction: column;
      padding: 0 20px;

      &__title{
        font-size: 24px;
        margin: 20px auto;

        .t-icon{
          color: red;
        }
      }

      &__box{
        height: 20px;
        width: 260px;
        display: flex;
        justify-content: space-between;
        font-size: 16px;

        ul{
          display: flex;
          flex-direction: row;

          .icon{
            text-decoration: none;
            margin-left: 5px;
            color: $color1;
          }
        }
      }
    }

    .languages{
      width: 300px;
      height: calc(100vh - 100px);
      background: rgb(10, 87, 150);

      .language{
        padding: 20px 20px 40px;

        &__group-name{
          font-size: 15px;
          margin-bottom: 5px;
        }

        &__latest-message{
          font-size: 11px;
        }
      }
    }
  }

  .chat-main{
    width: calc(100vw - 300px);

    .form{
      height: 200px;
      background-color: $color9;
      padding: 20px 40px;
      display: flex;
      flex-direction: column;

      .input-box{
        height: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;


        &__reason{
          height: 75px;
          width: 100%;
          border-style: none;
          margin: 20px auto;
        }

        &__url{
          height: 75px;
          width: 100%;
          border-style: none;
        }
      }
      
      .submit-btn{
        width: 100%;
        height: 50px;
        background-color: $color6;
        cursor: pointer;
        color: $color1;
        margin: 20px auto;
      }
    }
        
    .posts{
      height: calc(100vh - 100px - 100px);
      background-color: #eaeded;
      padding: 20px 20px;
      display: flex;
      flex-direction: column;

      .post{
        display: flex;
        justify-content: flex-start;
        height: 15vh;
        width: calc(100vw - 300px);

        &__rank{
          font-size: 30px;
        }

        &__thumbnail{
          font-size: 100px;
        }

        .data{
          font-size: 16px;


          &__title{

          }

          &__view{
          }

          &__reason{

          }
        }
      }
    }
  }
}


