.chat-main

  .main-header
    .main-header__left-box
      %h.main-header__left-box__current-group
        ジャンル：K-POP
      %h.main-header__left-box__member-list
        Member：masa
    .main-header__edit-btn
      = link_to "#", class:"btn" do
        Edit

  .form
    %form
      .input-box
        紹介したいMVと選出理由を書いてね！
        %input{type:"text", class:"input-box__reason", placeholder:"type a reason"}
          %label{class: "input-box__image"}
            = icon('far', 'file-video')
            %input{type: "file", class:"input-box__image__file"}
        %input{type:"submit", class:"submit-btn",value:"Send"}


  .posts
    .post
      .post__upper-info
        %p.post__upper-info__talker
          masa
        %p.post__upper-info__date
          2019/11/20(Wed) 17:43:01 
      %p.post__text
        選出理由:  ただ可愛いだけではなく、ダンスもキレッキレっで、歌詞もポジティブなので好きです。
        = image_tag('wannabe.jpg', options = {alt: 'wannabe', height: '112.5px', width: '200px', class: 'mv'})