.chat-main
  .form
    %form
      .input-box
        紹介したいYoutube内のMVのURLと選出理由を書いてね！
        %input{type:"text", class:"input-box__reason", placeholder:"type a reason"}
        %input{type:"text", class:"input-box__url", placeholder:"type a URL"}
        %input{type:"submit", class:"submit-btn",value:"Send"}


  .posts
    .post
      %h.post__rank
        1位
      %h.post__thumbnail
      = image_tag('wannabe.jpg', options = {alt: 'wannabe', height: '112.5px', width: '200px', class: ''})
      .data
        %p.data__title
          タイトル:  ITZY "WANNABE" M/V
        %p.data__view
          再生回数:  115,397,546  回
        %p.data__reason
          選出理由:  ただ可愛いだけではなく、ダンスもキレッキレっで、歌詞もポジティブなので好きです。
        %p.data__name
          投稿者:  masa

    .post
      %h.post__rank
        2位
      %h.post__thumbnail
      = image_tag('wannabe.jpg', options = {alt: 'wannabe', height: '112.5px', width: '200px', class: ''})
      .data
        %p.data__title
          タイトル:  ITZY "WANNABE" M/V
        %p.data__view
          再生回数:  115,397,546  回
        %p.data__reason
          選出理由:  ただ可愛いだけではなく、ダンスもキレッキレっで、歌詞もポジティブなので好きです。
        %p.data__name
          投稿者:  masa

