.chat-side
  .side-header
    .side-header__title
      My Bias!!
      %br
      好きなMVを紹介して!!
    .side-header__box
      %p.side-header__box__user-name
        masa
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          = link_to "#" do
            = icon('far', 'edit',class: "icon")
        %li.side-header__box__menu__edit-user
          = link_to "#" do
            = icon('fas', 'cog',class: "icon")

  .languages
    .language
      %p.language__group-name
        English
      %p.language__latest-message
        まだメッセージがありません
    .language
      %p.language__group-name
        한국
      %p.language__latest-message
        まだメッセージがありません
    .language
      %p.language__group-name
        日本語
      %p.language__latest-message
        まだメッセージがありません
    .language
      %p.language__group-name
        中文
      %p.language__latest-message
        まだメッセージがありません
    .language
      %p.language__group-name
        ภาษาไทย
      %p.language__latest-message
        まだメッセージがありません
    .language
      %p.language__group-name
        हिंदी
      %p.language__latest-message
        まだメッセージがありません
    .language
      %p.language__group-name
        اللغة العربية
      %p.language__latest-message
        まだメッセージがありません
    .language
      %p.language__group-name
        русский язык
      %p.language__latest-message
        まだメッセージがありません
    .language
      %p.language__group-name
        その他
      %p.language__latest-message
        まだメッセージがありません
